<svg width="480" height="133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="480" height="133">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            
            <!-- <script>
                window.addEventListener("load", _ => {
                    let songName = document.querySelector('h1.song__name');
                    let songArtists = document.querySelector('p.song__artists');

                    if (isElementOverflowing(songName)) {
                        songName.classList.add("marquee");
                    }
                    
                    if (isElementOverflowing(songArtists)) {
                        songArtists.classList.add("marquee");
                    }

                    function isElementOverflowing(element) {
                        return element.offsetWidth < element.scrollWidth || element.offsetHeight < element.scrollHeight;
                    }

                    function wrapContentsInMarquee(element) {
                        let marquee = document.createElement('marquee');
                        marquee.innerText = element.innerText;
                        element.innerHTML = '';
                        element.appendChild(marquee);
                    }
                });
            </script> -->

            <style>

                .main {
                    background-color: #{{background_color}}
                    width: 100%;
                    height: 100%;
                    border-radius: 1em;
                    display: flex;
                    flex-direction: row;
                    margin: 0;
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
                }

                .picture, .info {
                    display: flex;
                    padding: 1em;
                    color: white;
                }

                .picture img {
                    border-radius: .5em;
                }
        
                .info {
                    flex-direction: column;
                }

                .song {
                    display: flex;
                    flex-direction: row;
                    padding-block: .5em;
                    justify-content: space-between;
                    gap: 1em;
                    align-items: center;
                }

                .song__info {
                    display: flex;
                    overflow: hidden;
                    flex-direction: column;
                    max-width: 35ch;
                    gap: 1em;
                }

                .song__code > img {
                    display: block;
                    max-width: 100%;
                }

                .song__name {
                    color: #f7f7f7;
                }

                .song__artists {
                    color: #9f9f9f;
                }

                .song__name, .song__artists {
                    white-space: nowrap;
                    display: inline-block;
                    margin: 0;
                }

                .marquee {
                    display: inline-block;
                    animation: marquee 60s linear infinite;
                }

                @keyframes marquee {
                    0% { transform: translate(0, 0); }
                    30% { transform: translate(-90%, 0); }
                    40% { transform: translate(-90%, 0); }
                    70% { transform: translate(0, 0); }
                    100% { transform: translate(0, 0); }
                }
            
                #bars {
                    width: 40px;
                    height: 30px;
                    bottom: 23px;
                    position: absolute;
                    margin: -20px 0 0 0px;
                }

                .bar {
                    width: 3px;
                    bottom: 1px;
                    height: 3px;
                    position: absolute;
                    background: #1DB954cc;
                    animation: sound 0ms -800ms linear infinite alternate;
                }

                {{barCSS|safe}}

            </style>
        
            <div class="main">
                <div class="picture">
                    <img src="data:image/png;base64, {{image}}" alt="" />
                </div>
                <div class="info">
                    <div class="song">
                        <div class="song__info">
                            <h1 class="song__name">{{songName}}</h1>
                            <p class="song__artists">{{artistName}}</p>
                        </div>
                        <div class="song__code">
                            <img src="data:image/png;base64, {{scanCode}}" alt="" />
                        </div>
                    </div>
                    <div id="bars">{{contentBar|safe}}</div>
                </div>
            </div>

        </div>
    </foreignObject>
</svg>